* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #768492;
  margin: 0;
  background-color: #f3f6fd;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.none {
  display: none;
}

.error {
  color: red;
  font-size: 1.1rem;
}

.container-form {
  background-color: white;
}

main:where(.newNote, .edit) .primaryInfo .icons .iconSelected {
  background-color: #131313;
  color: white;
  -webkit-box-shadow: 0 0 0 3px #768492;
          box-shadow: 0 0 0 3px #768492;
}

@-webkit-keyframes animViewShow {
  from {
    top: 45%;
  }
  to {
    top: 50%;
  }
}

@keyframes animViewShow {
  from {
    top: 45%;
  }
  to {
    top: 50%;
  }
}

@-webkit-keyframes animViewHide {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
}

@keyframes animViewHide {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
}

@-webkit-keyframes animThings {
  from {
    top: 3rem;
  }
  to {
    top: 4.2rem;
  }
}

@keyframes animThings {
  from {
    top: 3rem;
  }
  to {
    top: 4.2rem;
  }
}

@-webkit-keyframes animSvg {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animSvg {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-icon {
  cursor: pointer;
}

li:hover path {
  -webkit-animation: animSvg 1s forwards;
          animation: animSvg 1s forwards;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

body .container-form {
  width: 70%;
  padding: 3rem;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

body .container-form form.register h1, body .container-form form.login h1 {
  font-family: "Jost", sans-serif;
  text-align: center;
  color: #131313;
  font-size: 2.5rem;
  font-weight: 400;
}

body .container-form form.register div, body .container-form form.login div {
  margin-top: 2rem;
}

body .container-form form.register .column, body .container-form form.login .column {
  position: relative;
}

body .container-form form.register .column .inputShadow, body .container-form form.login .column .inputShadow {
  -webkit-box-shadow: 0px 0px 0px 2.5px black;
          box-shadow: 0px 0px 0px 2.5px black;
}

body .container-form form.register .column .labelClick, body .container-form form.login .column .labelClick {
  top: -3px;
  background-color: white;
  font-size: 1rem;
  color: #131313;
  left: -1rem;
  padding: 0 5px;
}

body .container-form form.register .column input, body .container-form form.login .column input {
  background-color: #f3f6fd;
  height: 4rem;
  width: 100%;
  padding: 0 0 0 1rem;
  border-radius: 7px;
  border: 1px solid #DCDDDF;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .container-form form.register .column input:focus, body .container-form form.login .column input:focus {
  -webkit-box-shadow: 0px 0px 0px 2.5px black;
          box-shadow: 0px 0px 0px 2.5px black;
}

body .container-form form.register .column input:focus + label, body .container-form form.login .column input:focus + label {
  top: -3px;
  background-color: white;
  font-size: 1rem;
  color: #131313;
  left: -1rem;
  padding: 0 5px;
}

body .container-form form.register .column label, body .container-form form.login .column label {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  left: 0;
  position: absolute;
  cursor: text;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 1.2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}

body .container-form form.register div.checkbox, body .container-form form.login div.checkbox {
  margin-bottom: 2rem;
  position: relative;
}

body .container-form form.register div.checkbox input, body .container-form form.login div.checkbox input {
  position: relative;
  opacity: 0;
  z-index: 1;
}

body .container-form form.register div.checkbox input:checked ~ .groupCheck, body .container-form form.login div.checkbox input:checked ~ .groupCheck {
  display: block;
}

body .container-form form.register div.checkbox input:checked ~ label:after, body .container-form form.login div.checkbox input:checked ~ label:after {
  background-color: #131313;
}

body .container-form form.register div.checkbox label:after, body .container-form form.login div.checkbox label:after {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  content: "";
  display: inline-block;
  padding: 8px;
  border: 1px solid #768492;
  border-radius: 50px;
  left: 0;
  position: absolute;
}

body .container-form form.register .groupCheck, body .container-form form.login .groupCheck {
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  display: none;
}

body .container-form form.register .check, body .container-form form.login .check {
  content: "";
  display: inline-block;
  background-color: white;
  width: 2px;
  height: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .container-form form.register .check:after, body .container-form form.login .check:after {
  content: "";
  display: inline-block;
  background-color: white;
  width: 6px;
  height: 2px;
  -webkit-transform: translateX(-4px) translateY(-5px);
          transform: translateX(-4px) translateY(-5px);
}

body .container-form form.register .sendForm, body .container-form form.login .sendForm {
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: #131313;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  cursor: pointer;
}

body .container-form form.register .haveAccount a, body .container-form form.login .haveAccount a {
  color: #131313;
  font-weight: bold;
}

main.error404 {
  text-align: center;
}

main.error404 img {
  width: 60rem;
}

main.error404 a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3rem auto 0 auto;
  background-color: #131313;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

main.error404 a i {
  margin-right: 5px;
}

main.error404 h1 {
  margin: 3rem 0 0 0;
  color: #131313;
  font-weight: normal;
}

main.error404 p {
  margin-top: 1rem;
}

main.newNote, main.edit {
  padding: 0 5rem;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
}

main.newNote .primaryInfo, main.edit .primaryInfo {
  width: 70%;
}

main.newNote .newNote, main.edit .newNote {
  width: 87%;
}

main.newNote .moreInfo, main.edit .moreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.newNote .header-main, main.edit .header-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.newNote .header-main span + span, main.edit .header-main span + span {
  margin-left: 4rem;
}

main.newNote .form-control, main.edit .form-control {
  margin-bottom: 1.5rem;
}

main.newNote div div, main.edit div div {
  color: #131313;
}

main.newNote div div:first-of-type a, main.edit div div:first-of-type a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #131313;
  padding: 1rem 1.3rem;
  color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.newNote div div:first-of-type a i, main.edit div div:first-of-type a i {
  margin-right: 5px;
}

main.newNote div div h1, main.edit div div h1 {
  width: 100%;
  margin: 0;
  color: #131313;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 2.1rem;
}

main.newNote form, main.edit form {
  margin-top: 8rem;
}

main.newNote form h2, main.edit form h2 {
  color: #131313;
  font-weight: normal;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-top: 0;
}

main.newNote #title, main.edit #title {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 8px;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

main.newNote #title:focus, main.edit #title:focus {
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
}

main.newNote #title,
main.newNote #date,
main.newNote .description,
main.newNote #priority, main.edit #title,
main.edit #date,
main.edit .description,
main.edit #priority {
  border: 1px solid #dcdddf;
}

main.newNote .description, main.edit .description {
  padding: 1rem;
  line-height: 2;
  font-size: 1.5rem;
  margin-bottom: 0;
  height: 10rem;
  width: 100%;
  border-radius: 8px;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

main.newNote .description:focus, main.edit .description:focus {
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
}

main.newNote #date, main.edit #date {
  color: #768492;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

main.newNote #date:focus, main.edit #date:focus {
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
}

main.newNote .icons i, main.edit .icons i {
  color: #131313;
  padding: 1rem 1.3rem;
  background-color: white;
  border: 1px solid #131313;
  border-radius: 10px;
  cursor: pointer;
}

main.newNote .icons i + i, main.edit .icons i + i {
  margin-left: 1rem;
}

main.newNote .icons i:hover, main.edit .icons i:hover {
  background-color: #131313;
  color: white;
}

main.newNote #priority, main.edit #priority {
  width: 100%;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 8px;
  outline: none;
  transition: 0.25s;
}

main.newNote #priority:focus, main.edit #priority:focus {
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
}

main.newNote .option, main.edit .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

main.newNote .option div, main.edit .option div {
  position: relative;
}

main.newNote .option div input, main.edit .option div input {
  border-radius: 8px;
  border: 1px solid #131313;
  text-transform: capitalize;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 3rem;
  height: 3.3rem;
}

main.newNote .option div i, main.edit .option div i {
  position: absolute;
  left: 20%;
  top: 50%;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main.newNote .option div.groupReset i, main.edit .option div.groupReset i {
  color: #131313;
}

main.newNote .option .save, main.edit .option .save {
  background-color: #131313;
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}

main.newNote .option .reset, main.edit .option .reset {
  cursor: pointer;
}

main.newNote .option .reset i, main.edit .option .reset i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main.newNote .policy, main.edit .policy {
  margin-top: 21rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}

main.newNote .policy p, main.edit .policy p {
  color: #768492;
}

main.newNote .policy p:first-of-type, main.edit .policy p:first-of-type {
  margin-right: 1rem;
}

main.newNote .policy .notePlus, main.edit .policy .notePlus {
  color: #131313;
}

aside {
  width: 30%;
}

aside,
div.aside {
  margin-left: 10rem;
  margin-top: 8rem;
  border-radius: 10px;
  -webkit-transition: color 0.25s, background-color 0.75s;
  transition: color 0.25s, background-color 0.75s;
}

aside .container,
div.aside .container {
  padding: 2rem;
}

aside .container nav,
div.aside .container nav {
  top: 3rem;
  position: absolute;
  right: 0;
}

aside .container nav .menuBurger,
div.aside .container nav .menuBurger {
  width: 13rem;
  padding: 5px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 15px;
}

aside .container nav .menuBurger a, aside .container nav .menuBurger input,
div.aside .container nav .menuBurger a,
div.aside .container nav .menuBurger input {
  cursor: pointer;
  display: block;
  color: #131313;
  border-radius: unset;
  border: none;
  text-transform: capitalize;
  width: 13rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

aside .container nav .menuBurger a i, aside .container nav .menuBurger input i,
div.aside .container nav .menuBurger a i,
div.aside .container nav .menuBurger input i {
  border: none;
}

aside .container nav .menuBurger:first-of-type a,
div.aside .container nav .menuBurger:first-of-type a {
  padding-bottom: 0;
}

aside .container nav .menuBurger:last-of-type a,
div.aside .container nav .menuBurger:last-of-type a {
  padding-top: 0;
}

aside:hover,
div.aside:hover {
  background-color: #131313;
}

aside:hover .header-aside .activeMenuBurger,
div.aside:hover .header-aside .activeMenuBurger {
  color: white;
}

aside:hover p,
aside:hover h3,
div.aside:hover p,
div.aside:hover h3 {
  color: white;
}

aside:hover .userDate p,
aside:hover .userDate i,
div.aside:hover .userDate p,
div.aside:hover .userDate i {
  color: white;
}

aside:hover .userDate .after,
div.aside:hover .userDate .after {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

aside .paragraphAside,
div.aside .paragraphAside {
  height: 17rem;
}

aside .header-aside,
div.aside .header-aside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside .header-aside .activeMenuBurger,
div.aside .header-aside .activeMenuBurger {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

aside .header-aside i:first-of-type,
div.aside .header-aside i:first-of-type {
  color: #131313;
  font-size: 2.5rem;
  border: 1px solid #131313;
  padding: 1rem;
  border-radius: 10px;
}

aside .header-aside i:last-of-type,
div.aside .header-aside i:last-of-type {
  cursor: pointer;
  font-size: 1.7rem;
  color: #768492;
}

aside h3,
div.aside h3 {
  text-transform: capitalize;
  color: #131313;
  font-weight: normal;
  font-size: 2.3rem;
}

aside p,
div.aside p {
  color: #768492;
  line-height: 1.8;
}

aside .userDate,
div.aside .userDate {
  margin-top: 20rem;
}

aside .userDate div,
div.aside .userDate div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

aside .userDate p,
div.aside .userDate p {
  font-size: 14px;
  color: #131313;
  text-transform: capitalize;
  font-weight: bold;
}

aside .userDate p i,
div.aside .userDate p i {
  color: #131313;
  margin-right: 5px;
}

aside .userDate .after,
div.aside .userDate .after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #131313;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 5px;
}

main.home, main.bin {
  width: 100%;
  height: 100vh;
}

main.home > div, main.bin > div {
  padding: 3rem;
  background-color: white;
}

main.home > div > div.grid, main.bin > div > div.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

main.home div.aside, main.bin div.aside {
  overflow: hidden;
  background-color: white;
  margin: 0 2rem 0 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

main.home div.aside .container, main.bin div.aside .container {
  padding-bottom: 0;
}

main.home div.aside .userDate, main.bin div.aside .userDate {
  margin: 0;
}

main.home div.aside .paragraphAside, main.bin div.aside .paragraphAside {
  margin: 0;
  overflow: hidden;
  height: 11rem;
  word-wrap: break-word;
}

main.home div.aside h3, main.bin div.aside h3 {
  margin-bottom: 1rem;
}

main.home h1, main.bin h1 {
  margin: 0 0 2rem 0;
  color: #131313;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: normal;
}

main.home .viewInfo, main.bin .viewInfo {
  z-index: 1;
  width: 30%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: animViewShow 1s;
          animation: animViewShow 1s;
  left: 50%;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0px #131313;
          box-shadow: 0 0 10px 0px #131313;
  padding: 2rem;
  border-radius: 10px;
}

main.home .viewInfo h2,
main.home .viewInfo p, main.bin .viewInfo h2,
main.bin .viewInfo p {
  text-align: left;
  word-wrap: break-word;
}

main.home .viewInfo > div, main.bin .viewInfo > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.home .viewInfo > div h2, main.bin .viewInfo > div h2 {
  margin-top: 0;
  color: #131313;
  font-weight: normal;
}

main.home .viewInfo > div span, main.bin .viewInfo > div span {
  cursor: pointer;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  display: block;
  background-color: #768492;
  width: 1px;
  height: 20px;
}

main.home .viewInfo > div span:after, main.bin .viewInfo > div span:after {
  content: "";
  display: block;
  background-color: #768492;
  width: 1px;
  height: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.showViewOpacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000;
  opacity: 0.5;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

main.home, main.bin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 5fr;
      grid-template-columns: 1.5fr 5fr;
      grid-template-areas: "nav content";
}

main.home i,
main.home svg, main.bin i,
main.bin svg {
  margin-right: 1rem;
}

main.home > div, main.bin > div {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  padding: 1rem;
}

nav .new {
  margin-bottom: 3rem;
  position: relative;
  width: 20rem;
  padding: 1rem;
  background-color: #1f1c2f;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .new a {
  display: block;
}

nav .new a,
nav .new i {
  color: white;
}

nav .new i {
  font-size: 1.3rem;
}

nav .new i.fa-angle-down {
  background-color: #07060e;
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  margin: 0;
  height: 99%;
  right: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 10px 10px 0;
}

nav .new i.fa-plus {
  margin-right: 2rem;
}

nav .new .newThings {
  position: absolute;
  -webkit-animation: animThings 0.5s forwards;
          animation: animThings 0.5s forwards;
  left: 0;
  width: 20rem;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 0px rgba(19, 19, 19, 0.3);
          box-shadow: 0 2px 4px 0px rgba(19, 19, 19, 0.3);
}

nav .new .newThings li {
  padding: 1rem;
}

nav .new .newThings li:hover a {
  color: #292929;
}

nav .new .newThings a,
nav .new .newThings i {
  color: #363636;
}

nav a {
  text-transform: capitalize;
}

nav .otherLink li a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #768492;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

nav .otherLink li a i {
  margin: 0 0 0 auto;
}

nav .otherLink li a:hover {
  color: #131313;
}

nav .newFile {
  margin-left: 1rem;
}

nav .newFile li {
  margin: 1rem;
}
/*# sourceMappingURL=style.css.map */