html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #768492;
  margin: 0;
  background-color: #f3f6fd;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.none {
  display: none;
}

.error {
  color: red;
  font-size: 1.1rem;
}

.container-form {
  background-color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

body .container-form {
  width: 70%;
  padding: 3rem;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

body .container-form form.register h1, body .container-form form.login h1 {
  font-family: "Jost", sans-serif;
  text-align: center;
  color: #131313;
  font-size: 2.5rem;
  font-weight: 400;
}

body .container-form form.register div, body .container-form form.login div {
  margin-top: 2rem;
}

body .container-form form.register .column, body .container-form form.login .column {
  position: relative;
}

body .container-form form.register .column .inputShadow, body .container-form form.login .column .inputShadow {
  -webkit-box-shadow: 0px 0px 0px 2.5px black;
          box-shadow: 0px 0px 0px 2.5px black;
}

body .container-form form.register .column .labelClick, body .container-form form.login .column .labelClick {
  top: -3px;
  background-color: white;
  font-size: 1rem;
  color: #131313;
  left: -1rem;
  padding: 0 5px;
}

body .container-form form.register .column input, body .container-form form.login .column input {
  background-color: #f3f6fd;
  height: 4rem;
  width: 100%;
  padding: 0 0 0 1rem;
  border-radius: 7px;
  border: 1px solid #DCDDDF;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .container-form form.register .column input:focus, body .container-form form.login .column input:focus {
  -webkit-box-shadow: 0px 0px 0px 2.5px black;
          box-shadow: 0px 0px 0px 2.5px black;
}

body .container-form form.register .column input:focus + label, body .container-form form.login .column input:focus + label {
  top: -3px;
  background-color: white;
  font-size: 1rem;
  color: #131313;
  left: -1rem;
  padding: 0 5px;
}

body .container-form form.register .column label, body .container-form form.login .column label {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  left: 0;
  position: absolute;
  cursor: text;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 1.2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}

body .container-form form.register div.checkbox, body .container-form form.login div.checkbox {
  margin-bottom: 2rem;
  position: relative;
}

body .container-form form.register div.checkbox input, body .container-form form.login div.checkbox input {
  position: relative;
  opacity: 0;
  z-index: 1;
}

body .container-form form.register div.checkbox input:checked ~ .groupCheck, body .container-form form.login div.checkbox input:checked ~ .groupCheck {
  display: block;
}

body .container-form form.register div.checkbox input:checked ~ label:after, body .container-form form.login div.checkbox input:checked ~ label:after {
  background-color: #131313;
}

body .container-form form.register div.checkbox label:after, body .container-form form.login div.checkbox label:after {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  content: "";
  display: inline-block;
  padding: 8px;
  border: 1px solid #768492;
  border-radius: 50px;
  left: 0;
  position: absolute;
}

body .container-form form.register .groupCheck, body .container-form form.login .groupCheck {
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  display: none;
}

body .container-form form.register .check, body .container-form form.login .check {
  content: "";
  display: inline-block;
  background-color: white;
  width: 2px;
  height: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .container-form form.register .check:after, body .container-form form.login .check:after {
  content: "";
  display: inline-block;
  background-color: white;
  width: 6px;
  height: 2px;
  -webkit-transform: translateX(-4px) translateY(-5px);
          transform: translateX(-4px) translateY(-5px);
}

body .container-form form.register .sendForm, body .container-form form.login .sendForm {
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: #131313;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  cursor: pointer;
}

body .container-form form.register .haveAccount a, body .container-form form.login .haveAccount a {
  color: #131313;
  font-weight: bold;
}

main.error404 {
  text-align: center;
}

main.error404 img {
  width: 60rem;
}

main.error404 a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3rem auto 0 auto;
  background-color: #131313;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

main.error404 a i {
  margin-right: 5px;
}

main.error404 h1 {
  margin: 3rem 0 0 0;
  color: #131313;
  font-weight: normal;
}

main.error404 p {
  margin-top: 1rem;
}

main.newNote {
  padding: 5rem;
}

main.newNote div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.newNote div div {
  color: #131313;
}

main.newNote div div:first-of-type {
  width: 80%;
}

main.newNote div div:first-of-type a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid #131313;
  padding: 1rem 1.3rem;
  color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.newNote div div:first-of-type a i {
  margin-right: 5px;
}

main.newNote div div:last-of-type {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main.newNote div div:last-of-type span {
  margin-left: 4rem;
}

main.newNote div div h1 {
  width: 100%;
  margin: 0;
  color: #131313;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 2.1rem;
}

main.newNote form {
  margin-top: 8rem;
}

main.newNote form h2 {
  color: #131313;
  font-weight: normal;
  font-size: 1.8rem;
  text-transform: capitalize;
}

main.newNote #title {
  width: 100%;
  height: 4rem;
  border-radius: 8px;
  outline: none;
  -webkit-transition: .25s;
  transition: .25s;
  padding: 0 1rem;
}

main.newNote #title:focus {
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
}

main.newNote #title, main.newNote #date, main.newNote .description, main.newNote #priority {
  border: 1px solid #dcdddf;
}

main.newNote .description {
  padding: 1rem;
  line-height: 2;
  font-size: 1.5rem;
}

main.newNote #date {
  color: #768492;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}

main.newNote .icons i {
  color: #131313;
  padding: 1rem 1.3rem;
  background-color: white;
  border: 1px solid #131313;
  border-radius: 10px;
  cursor: pointer;
}

main.newNote .icons i + i {
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */