//mixin

@mixin labelClick {
  top: -3px;
  background-color: white;
  font-size: 1rem;
  color: $color-secondary;
  left: -1rem;
  padding: 0 5px;
}

//variable

$font-primary: "Roboto", sans-serif;
$font-secondary: "Jost", sans-serif;

$color-primary: #768492;
$color-secondary: #131313;
$white-color: white;
$terciaire-color: #f3f6fd;
$four-color: #87baf5;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  color: $color-primary;
  margin: 0;
  background-color: $terciaire-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.none {
  display: none;
}

.error {
  color: red;
  font-size: 1.1rem;
}

.container-form {
  background-color: $white-color;
}

main:where(.newNote, .edit) .primaryInfo .icons .iconSelected {
  background-color: #131313;
  color: $white-color;
  box-shadow: 0 0 0 3px $color-primary;
}

@mixin border {
  border-radius: 8px;
  outline: none;
  transition: 0.25s;
  &:focus {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
  }
}

@mixin content {
  content: "";
  display: block;
  background-color: $color-primary;
  width: 1px;
  height: 20px;
}

@keyframes animViewShow {
  from {
    top: 45%;
  }

  to {
    top: 50%;
  }
}

@keyframes animViewHide {
  0% {
    top: 50%;
  }

  50% {
    top: 45%;
  }
}

@keyframes animThings {
  from {
    top: 3rem;
  }

  to {
    top: 4.2rem;
  }
}

@keyframes animSvg {
  from {
    stroke-dashoffset: 100;
  }

  to {
    stroke-dashoffset: 0
  }
}

.svg-icon {
  cursor: pointer;
}

li {
  &:hover path {
    animation: animSvg 1s forwards;
  }
}

//import

@import "includes/login-register";
@import "includes/error404";
@import "includes/newNote";
@import "includes/newNoteAside";
@import "includes/asideIndex";
@import "includes/main";